.footer{
   height: 300px;
   background-color: rgb(251, 217, 19);
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;

}

.footer-logo img{
   width: 180px;
   margin-top: 80px;
}

.footer-logo{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   
   height: 300px;
   padding-left: 40px;
}

.footer-logo p{
   font-family: Raleway;
   margin-top: 30px;
}

.important-info{
   height: 300px;
   font-family: Raleway;
   padding-left: 80px;
}

.terms{
   padding-right: 15px;
}

.important-info p{
   margin: 0;
   padding: 0;
   margin-top: 4px;
   transition: color 0.15s ,text-shadow 0.15s;

}

.important-info p:hover{
   text-shadow: 0 0 1px white;
   color: white;
   cursor: pointer;
}

.important-info .header{
   font-weight: 700;
   font-size: 18px;
   text-decoration: underline;
   margin-top: 80px;
}

.icons{
   height: 100px;
   display: flex;
   flex-direction: column;
   padding: 80px 20px 0 20px;
   align-items: center;
}

.icons i{
   margin: 5px 0;
   font-size: 20px;
   cursor: pointer;
   transform: color 0.15s;
}

.icons i:hover{
   color: white;
   text-shadow: 0 0 10px white;

}

@media only screen and (max-width: 700px){

}


@media only screen and (max-width: 700px){
   .footer{
      height: 850px;
      background-color: rgb(251, 217, 19);
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
   }

   .footer-logo img{
      width: 180px;
      margin-top: 40px;
   }
   
   .footer-logo{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      
      height: 200px;
      padding-left: 40px;
      
   }

   .icons{
      height: 100px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0;
      
   }

   .icons i{
      margin: 0 10px;
   }

   .important-info {
      margin: 0;
      padding: 0;
      margin-top: 4px;
      transition: color 0.15s ,text-shadow 0.15s;
      padding-left: 40px;
      padding-bottom: 30px;
      height: 100px;
   }

   .important-info .header{
      font-weight: 700;
      font-size: 18px;
      text-decoration: underline;
      margin-top: 20px;
   }
   
}