.recommendations-section{
    height: 1200px;
    width: 100%;
    background-color: rgb(251, 217, 19);
    margin-top: -5px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 130px;

}

.recommendations-section .header{
    margin-top: 17px;
    translate: 0px 55px;
}


.recommendations-section .header p{
    color: black;
    margin: 0 -2px;
    font-family: Raleway;
    font-size: 60px;
    display: inline-block;
    transition: 0.15s;

}

.recommendations-section .header p:hover{
    color: white;
    text-shadow: 0 0 5px white;
    scale: 1.05;
}

.container-recommendations{
    height: 100vh;
    width: 1000px;
    min-height: 400px;
    min-width: 400px;
    border: none;
    margin-top: 100px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 30px;


}

.recommendations-section .card{
    height: 430px;
    width: 210px;
    min-width: 200px;
    min-height: 460px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.recommendations-section .image-holder{
    width: 100%;
    height: 70%;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    object-fit: cover;
}

.recommendations-section .book-1{
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 100%;

}

.recommendations-section .add{
    width: 90%;
    margin: 0;
    border-width: 1px;
    border: none;
    background-color: rgb(251, 217, 19);
    color: black;
    font-size: 13px;
    font-family: Raleway;
    transition: 0.15s;
    position: absolute;
    top: 92%;
    left: 5%;
    border-radius: 2px;

}

.recommendations-section .added{
    width: 90%;
    margin: 0;
    border-width: 1px;
    border: none;
    background-color: black;
    color: white;
    font-size: 13px;
    font-family: Raleway;
    transition: 0.15s;
    position: absolute;
    top: 92%;
    left: 5%;
    border-radius: 2px;
    opacity: 0;
    pointer-events: none;

}

.recommendations-section .add:hover{
    scale: 1.1;
    cursor: pointer;

}

.recommendations-section .add:active{
    scale: 1.05;
}

.recommendations-section .add:focus{
    background-color: rgb(62, 159, 60);
}

.recommendations-section .overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: 0.5s;

}

.recommendations-section .card:hover .overlay{
    height: 100%;
}

.recommendations-section .text{
    color: white;
    font-family: Raleway;
    font-size: 17px;
    position: absolute;
    overflow: hidden;
    top: 9%;
    left: 3%;

}

.recommendations-section .book-title{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    


}

.recommendations-section .book-title p{
    text-align: center;
    padding: 35px 0;
    color: white;
    font-size: 20px;
    font-family: Raleway;

}

.recommendations-section .book-2{
    object-fit: cover;
    object-position: bottom;
    width: 100%;
    height: 100%;

}

.second-container {
    margin-top: 10px;
}

@media only screen and (max-width: 700px){
    .recommendations-section .header p{
        font-size: 40px;
    
    }

    .container-recommendations{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .recommendations-section .card{
        margin: 30px 0;
    }

    .bestsellers-section{
        height: 2400px;
    }

    .second-container {
        margin-top: 1400px;
        
    }

    .recommendations-section{
        height: 4400px;
        overflow: hidden;
    }

    


}