 .reviews-section{
    width: 100%;
    height: 1450px;
    background-color: rgb(22, 22, 22);
    color: white;
    font-family: 'Raleway';
    display: flex;
    flex-direction: column;
    align-items: center;

 }

 .reviews-header{
    text-align: center;
    font-size: 60px;
    margin: 0;
    padding: 0;
    margin-top: 50px;
    transition: all 0.15s;
 }

 .reviews-header:hover{
    color: rgb(251, 217, 19);
    text-shadow: 0 0 5px rgb(251, 217, 19);
    scale: 1.05;
 }

 .reviews-container{
   display: flex; 
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 100%;
   height: 1300px;
   margin-top: 7px;
   animation: slider 9s infinite linear;
 }

 .review-slide{
    width: 75%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(251, 217, 19);
    padding: 15px 20px;
    color: black;
    position: relative;
    border-radius: 2px;
    margin: 40px 0;
    
 }

 
 .review-slide::before{
    content: "";
    position: absolute;
    width: 100%;
    background-color: black;
    top: 0;
    left: 0;
    right: 0;
    bottom: 60%; 
 }

 .reviewer-picture{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    margin-bottom: 10px;
    z-index: 10;
 }



 .reviewer-details p{
    text-align: center;
    margin: 0;
 }

 .reviewer-details .name{
    font-size: 23px;
    font-weight: bold;
    margin-top: 10px;
 }

 @media only screen and (max-width: 700px){
    .reviews-section{
        height: 1800px;
    }



    .review-slide::before{
        content: "";
        position: absolute;
        width: 100%;
        background-color: black;
        top: 0;
        left: 0;
        right: 0;
        bottom: 70%; 
     }

    .reviews-container{
        margin-top: 150px;
    }
}

@media only screen and (max-width: 436px){
   .reviews-container{
      margin-top: 250px;
   }

   .reviews-header{
      font-size: 40px;
   }
}

@media only screen and (max-width: 350px){
   .reviews-section{
      height: 1900px;
   }
}
